.aboutme {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  max-width: 700px;
  margin: 20px 100px 100px 20px;
}

.large {
  font-size: 20px;
}

.item {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.emailer {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
   margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
	color: white;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -150px;
  position: absolute;
  top: 30%;
  width: 60%;
  padding: 10px;
  text-align: center;
}

#header {
  color: #e6b658;
}

.navbar { margin-bottom:0px !important; }

.carousel-indicators {
  bottom:-50px !important;
}

.carousel-indicators li {
  background-color: black !important;
}

.carousel-indicators .active {
  background-color: #c0a062 !important;
}

.navbar-header {
    z-index: 3;
    top: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin:0 auto;
}
